<!DOCTYPE html>
<html>
  <head>
    <title>Mybootstrap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-inverse">
        <div class="container">
        	<ul class="nav navbar-nav">
        		<li><%= link_to "Home", root_path %></li>
        		<li><%= link_to "About", about_path %></li>
      	  	</ul>
        <form class="navbar-form navbar-right" role ="form">
          <div class="form-group">
          	<input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
          	<input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-sucess">Sign in</button>
        </form>
      </div>
    </nav>

    <%= render 'partials/jumbotron' %>
    
    <main role="main">


      <div class="container">
        <%= yield %>

        <hr>

      </div> <!-- /container -->

    </main>

    <%= render 'partials/footer' %>
    
  </body>
</html>
